@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;600&display=swap');

.container {
    margin: 5rem 60px;
    position: relative;
}

.resumen-pago {
    width: 20%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 90rem;
    top: 0rem;
    padding: 1rem;
}

.subtotal, .iva, .total {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 550;
}

.pay {
    position: absolute;
    bottom: 20px;
    width: auto;
    left: 25%;
    padding: 1rem 4rem;
    border-radius: 15px;
    background-color: #006D77;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 550;
    color: white;
    border: none;
    outline: none;
}

.pay-container {
    margin: auto;
}

.pay:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.productos {
    width: 60%;
    max-height: 50rem;
    border-radius: 10px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow-y: scroll;
}

.contenedor-producto{
    display: flex;
}

.products{
    width: 90%;
    display: flex; 
    flex-direction: column;
    margin-left: 1em;
    margin-top: 1em;
}


.title {
    text-align: center;
    margin: 25px;
    font-family: 'DM Serif Text', serif;
    font-size: 30px;
}

.title h2 {
    margin: 0;
}

.imagen-producto{
    width: 10em;
}

.producto-detalles{
    width: 50em;
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    margin-left: 2rem;
}

.producto-descripcion{
    font-size: 15px;
    margin-bottom: 1rem;
}

.producto-costo, .producto-disponible{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.producto-detalles-finales{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    font-weight: 600;
    font-size: 20px;
}

.producto-boton-eliminar{
    border: none;
    background: none;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
}

.producto-id{
    visibility: hidden;
}
