@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;600&display=swap');

.contenedor {
    padding: 10rem 5rem;
    width: auto;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
}

.rectangulo-contenedor {
    position: relative;
    width: 90%;
    margin-bottom: 5rem;
}

.rectangulo-enlace{
    width: 100%;
}

.rectangulo {
    width: auto;
    height: 420px;
    background-color: #D4D4D4;
    position: relative;
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.rectangulo-azul {
    width: 40%;
    height: 40px;
    background-color: #3185A1;
    position: absolute;
    top: -16px;
    right: -16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

}

.precio {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}

.descripcion-contenedor {
    /* texto */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: black;
    /* contenedor */
    width: 30%px;
    padding: 5px;
    margin-top: 1.5rem;

}