:root {
    --primario: #155E75;
    --primarioOscuro: #465362;
    --secundario: #3185;
    --secundarioOscuro: #201E50;
    --verdeBtn: #006D77;
    --footer: #003E55;
    --blanco: #FFF;
    --negro: #000;
    --arena: #F5F5F2;
    --sobra: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --font_DM_serif: 'DM Serif Text', serif;
    --inter: 'Inter', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

/** Globales **/
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.w-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.h-1 {
    font-size: 4.2rem;
}

button {
    border: none;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}


/* --------------------------------------------------*/
/* CSS Properties for mobile devices (smaller than 640px) 
   + arrange everything in one column below each other
*/
.header{
    background-color: var(--primario);
    height: auto;
}

.header_nav{
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 0.5fr;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.logo {
    width: 100%;
    text-align: center;
}
.logo a h1{
    font-size: 5rem;
    padding: 0 1rem;
}

.logo_texto{
    font-size: 6rem;
    color: var(--blanco);
    margin: 0;
    text-shadow: var(--sobra);
}

.contenedor_genero {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
}


.nav_lista {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_lista_elemento{
    width: 50%;
    margin: auto;
}

.nav_lista_elemento:hover{
    background-color: var(--primarioOscuro);
}

.btn_nav{
    font-size: 3.6rem;
    color: var(--blanco);
    display: block;
    padding: 1rem 0;
}


.btn_nav:hover{
    text-shadow: var(--sobra);
}

.colorBtn-click{
    background-color: var(--primarioOscuro);
}


.buscador {
    grid-column: 3/4;  
    width: 100%; 
    display: block;
}

.buscador_contenedor{
    width: 100%;
}

.buscador_input {
   width: 80%;
   border-width: 0.5px;
   border-radius: 0.5rem;
   padding: 1rem 4rem;
}

.buscador_contenedor{
    display: flex;
    align-items: center;
    position: relative;
}

.buscador_contenedor .material-symbols-outlined{
    position: absolute;
    left: 1rem;
    color: grey;
    width: 5%;
}

.material-symbols-outlined{
    left: 1rem;
    color: grey;
    width: 5%;
}

.buscador_btn {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primarioOscuro);
    color: var(--blanco);
}

.buscador_btn:hover {
    background-color: var(--secundarioOscuro);
    color: var(--blanco);
}

.buscador_input::placeholder{
    font-family: 'Inter', sans-serif;
}

#botonCerrarSesion {
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin: 15px;
    padding: 15px;
    background-color: white;
    color: #465362;
    font-weight: 500;
}

#botonCerrarSesion:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#botonCerrarSesion:active {
    background-color: #465362;
    color: white;
    box-shadow: none;
    border: 1px solid white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.contenedor_carrito_usuario {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    position: absolute;
    margin: -40;
}

.carrito a, .usuario_icono a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    top: 0.5rem;
}

.carrito span, .usuario_icono span{
    font-size: 3rem;
    color: var(--blanco);
}

.carrito span:hover, .usuario_icono span:hover{
    font-size: 3rem;
    color: var(--blanco);
    text-shadow: var(--sobra);
}

.nav_principal {
    background-color: var(--primarioOscuro);
    width: 100%;
}

.active {
    left: 0;
}

.nav_principal_lista{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav_principal_elemento{
    background-color: var(--primarioOscuro);
    width: 100%;
    text-align: center;
}

.nav_principal_elemento a {
    color: var(--blanco);
    padding: 0.6em 2rem;
    display: block;
}

.nav_principal_elemento a:hover, .nav_principal_elemento a:focus{
    background-color: var(--arena);
    color: var(--negro);
}


/* FOOTER */

h1.niehs{
    text-align: center;
    font-size: 7em;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.30);
    font-weight: 400;
    margin: 0;
}

.nav_mi_cuenta, .titulo_nav{
    font-family: var(--font_DM_serif);
    color: var(--blanco);
    font-size: 2em;
    text-align: center;
    display: block;
}
.mi_cuenta_contenedor h2, .footer_titulo_nav h2{
    font-size: 3em;
}

.nav_lista_mi_cuenta{
    list-style: none;
    text-align: start;
    font-size: 3em;
}

.nav_lista_navegacion{
    list-style: none;
    text-align: start;
    font-size: 3em;
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--footer);
}

.footer_micuenta_nav{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.footer_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_niehs{
    height: 50%;
}

.footer_titulo_nav{
    width: 100%;
}

.nav_lista_navegacion{
    list-style: none;
    padding: 0 3rem;
    margin: 0;
}

.footer_Nies_Img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_tarjetas{
    display: flex;
    justify-content: center;
    width: 75%;
    height: 25%;
}

.footer_niehs{
    justify-items: center;
    color: #FFF;
    padding: auto;
}

p.lista_elemento{
    font-family: sans-serif;
    color: var(--blanco);
    font-size: 1.5rem;
}

img{
    margin: 0.5rem 1rem 0.5rem 0;
}