:root {
    --primario: #155E75;
    --primarioOscuro: #465362;
    --secundario: #3185;
    --secundarioOscuro: #201E50;
    --verdeBtn: #006D77;
    --footer: #003E55;
    --blanco: #FFF;
    --negro: #000;
    --arena: #F5F5F2;
    --sobra: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --font_DM_serif: 'DM Serif Text', serif;
    --inter: 'Inter', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.main-frame{
    margin: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagen-producto{
    width: 45%;
    height: 45%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.imagen-producto-error{
    align-items: center;
}

.main-frame.imagen .texto-error {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.detalles{
    width: 400px;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.descripcion-producto{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.precio-producto{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.color{
    display: flex;    
}

.color-texto{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.color-producto{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 1em;
}

.talla-producto{
    font-weight: 700;
    font-size: 20px;
    font-family: var(--inter);
}

.select-talla{
    width: 10em;
    height: 2em;
    
}

.boton{
    margin-top: 2em;
    margin-bottom: 2em;
}

.boton-agregar{
    background-color: var(--verdeBtn);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.boton-agregar:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.servicios{
    display: flex;
    flex-direction: column;

    border: 1px;
    border-color: #B1B1B1;
    border-style: solid;
}

.detalles-envio{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.envio{
    margin-left: 1em;
    font-size: 15px;
    font-family: 'Inter',sans-serif;
}

.detalles-devoluciones{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.devoluciones{
    margin-left: 1em;
    font-size: 15px;
    font-family: 'Inter',sans-serif;
}

.politicas{
    font-size: 15px;
    font-family: 'Inter',sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.id-producto{
    display: none;
}
