<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo general</title>

    <!--Estilos del header-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--Estilos del carrito vacio-->
    <link rel="stylesheet" href="../css/catalogoGeneral.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>

    <header class="header">
        <div class="header_nav">
            <div class="logo">
                <a href="">
                    <h1 id="logoNav" class="logo_texto">NIEHS</h1>
                </a>
            </div>
            <div class="buscador">
                <form class="buscador_contenedor">
                    <div class="">
                        <input type="search" id="default-search" class="buscador_input" placeholder="Buscar artículos" required>
                        <button type="submit" class="buscador_btn">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="contenedor_genero">
                <ul class="nav_lista">
                    <li class="nav_lista_elemento">
                        <button name="btn_nav" class="btn_nav">
                            <h2 class="">Hombre</h2>
                        </button>
                    </li>
                    <li class="nav_lista_elemento">
                        <button name="btn_nav" class="btn_nav">
                            <h2 class="">Mujer</h2>   
                        </button>
                    </li>
                </ul>
            </div>
            <div class="contenedor_carrito_usuario">
                <div class="carrito">
                    <a href="">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>
                </div>
                <div class="usuario_icono">
                    <a href="">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <nav id="sidebar" class="nav_principal">
            <ul class="nav_principal_lista">
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span>Conjuntos</span>
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span>Ropa deportiva</span>
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span >Sudadera</span>
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span>Chaquetas y abrigos</span>
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span>Accesorios</span>
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a href="#" class=" ">
                        <span>Ropa interior</span>
                    </a>
                </li>
            </ul>

        </nav>
        
    </header>

    <main>
        <div class="contenedor">
            <div class="rectangulo-contenedor">
                <a href="#">
                  <div class="rectangulo" id="imagenProducto1">
                    <div class="rectangulo-azul">
                      <div class="precio" id="precioProducto1">$750</div>
                    </div>
                  </div>
                </a>
                <a href="#">
                  <div class="descripcion-contenedor" id="descripcionProducto1">DESCRIPCION DEL PRODUCTO</div>
                </a>
            </div>
            
            <div class="rectangulo-contenedor">
                <a href="#">
                  <div class="rectangulo" id="imagenProducto2">
                    <div class="rectangulo-azul">
                      <div class="precio" id="precioProducto2">$750</div>
                    </div>
                  </div>
                </a>
                <a href="#">
                  <div class="descripcion-contenedor" id="descripcionProducto2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl lorem, gravida a auctor non.</div>
                </a>
            </div>
            
            <div class="rectangulo-contenedor">
                <a href="#">
                  <div class="rectangulo" id="imagenProducto3">
                    <div class="rectangulo-azul">
                      <div class="precio" id="precioProducto3">$750</div>
                    </div>
                  </div>
                </a>
                <a href="">
                  <div class="descripcion-contenedor" id="descripcionProducto3">DESCRIPCION MUY LARGA DEL PRODUCTO QUE PODRIA ARRUINAR LA ALINEACION</div>
                </a>
            </div>
        </div>
    </main>

    <footer>
        Footer
    </footer>
    <script src=""></script>
</body>
</html>