
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <script src="../js/manejador_logout.js" defer></script>

</head>
<body>
    <header class="header">
        <div class="header_nav">
            <div class="logo">
                <a href="">
                    <h1 id="logoNav" class="logo_texto h-1">NIEHS</h1>
                </a>
            </div>
            <div class="buscador">
                <form >
                    <div class="buscador_contenedor">
                        <input type="search" id="default-search" class="buscador_input" placeholder="Buscar artículos" required>
                        <button type="submit" class="buscador_btn">Buscar</button>
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </div>
                </form>
            </div>
            
            <div class="contenedor_genero">
                <ul class="nav_lista">
                    <li class="nav_lista_elemento">
                        <a id="hombre_enlace" href="../views/catalogo_general.php?genero=Hombre&tipo=noType" name="btn_genero"  class="btn_nav" >
                            Hombre
                        </a>
                    </li>
                    <li class="nav_lista_elemento">
                        <a id="mujer_enlace" href="../views/catalogo_general.php?genero=Mujer&tipo=noType" name="btn_genero" class="btn_nav" >
                            Mujer   
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="contenedor_carrito_usuario">
                <div class="carrito_logo">
                    <a href="">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </a>
                </div>
                <div class="usuario_icono" id="usuario_icono">
                    <a href="#" id="cerrarSesionSpan" onclick="mostrarBotonCerrarSesion(event)">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <nav id="sidebar" class="nav_principal">
            <ul class="nav_principal_lista">
                <li class="nav_principal_elemento">
                    <a id="conjunto_link" href="../views/catalogo_general.php?tipo=Conjunto"
                     name="btn_nav_principal"  class="">
                        Conjuntos
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a id="deportivo_link" href="../views/catalogo_general.php?tipo=Deportivo" 
                        name="btn_nav_principal"  >
                        Ropa deportiva
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a id="sudadera_link" href="../views/catalogo_general.php?tipo=Sudadera" name="btn_nav_principal" class=" ">
                        Sudadera
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a id="chaqueta_link" href="../views/catalogo_general.php?tipo=Chaqueta/Abrigo" name="btn_nav_principal"  class=" ">
                        Chaquetas y abrigos
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a id="accesorio_link" href="../views/catalogo_general.php?tipo=Accesorio" name="btn_nav_principal"  class=" ">
                        Accesorios
                    </a>
                </li>
                <li class="nav_principal_elemento">
                    <a id="interior_link" href="../views/catalogo_general.php?tipo=Ropa interior" name="btn_nav_principal" class=" ">
                        Ropa interior
                    </a>
                </li>
            </ul>

        </nav>
        
    </header>

    <main>
        
    </main>

</body>
</html>